@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
  --font-title: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-text: "Nunito", sans-serif;
  --size-text: 0.875rem;
  --size-subtitles: 1.375rem;
  --size-title-section: 1.375rem;
  --size-title: 1rem;
  --size-desktop: 3.25rem;
  --size-desktop-section: 2rem;
  --bg-color: #072448;
  --bg-secundary: #314661;
  --bg-terciary:#31466164;
  --color-primary: #ffcc00;
  --color-secundary: #f8aa4b;
  --color-terciary: #54d2d2;
  --color-quaternary: #f16744;
  --spacing: 1rem 9.5rem;
}

/* Breakpoint for mobil */
/* HEADER */

header {
  font-family: var(--font-text);
  color: var(--color-primary);
  gap: 8px;
  background-color: var(--bg-color);
  border: none;
  align-items: center;
  flex-wrap: no-wrap;
  }

.header__title{
  font-size: var(--size-title);
  margin-left: 1.5rem;
}

.fa-bars{
  display: flex;
  flex-direction: row;
}

.header__title{
  margin-left: 0;
}

.header__logo{
  display: none;
}

.header__nav {
  display: flex;
  gap: 8px;
}

.header__nav-link {
  color: var(--color-primary);
}  

.dropdown {
  position: relative;
  display: flex;
  width: 91%;
  margin: 1rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--bg-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
  list-style: none;
}

.header__nav-item:hover {
  /* color: var(--color-primary); */
  background-color: var(--bg-secundary);
}  

/* HERO */

.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  justify-content: flex-end;
  padding: 1rem 1rem 2rem 1rem;
  font-family: var(--font-title);
  color: var(--color-primary);
}


.hero__avatar{
  width: 98px;
  border-radius: 50%;
  border: var(--color-secundary) solid 3px;
}

.hero__title{
  font-size: var(--size-subtitles);
  margin: 1rem 0;
}

.hero__paragraph{
  font-size: var(--size-title);
  margin: 1rem 0;
}

.hero__avatar{
  width: 98px;
  margin-bottom: 1rem;
}

.hero__links {
  gap: 8px;
} 

ul.hero__links {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

li.hero__links-item {
  list-style: none;
}

.hero__link{
  font-family: var(--font-text);
  font-weight: 500;
  color: var(--color-primary);
}

/* ABOUT */

.about {
  background-color: var(--bg-terciary);
  color: var(--color-primary);
  font-family: var(--font-title);
  padding: 2rem 1rem;
}

.about__title{
  font-size: var(--size-subtitles);    
  margin-bottom: 1rem;  
}

.about__paragraph{
  font-size: var(--size-text);
  font-weight: 400;
}

/* SKILLS */

section#skill {
  padding: 2rem 1rem;
  color: var(--color-primary);
  font-family: var(--font-title);
}

.skills__title {
  font-size: var(--size-subtitles);
  text-align: center;
  padding: 0 0 2rem;
}

.skill__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.link_skill{
  background-color: var(--bg-secundary);
  padding: 10px;
  margin: 2px;
  border-radius: 6px;    
  width: 20%;
} 

  .img_skill {
  width: 100%;
}

/* HOBBIES */

section#hobbies {
  padding: 2rem 1rem;
  color: var(--color-primary);
  font-family: var(--font-title);
}

.hobbies__title {
  font-size: var(--size-subtitles);
  text-align: center;
  padding: 0 0 2rem;
}	

.hobbies {
  display: flex;
  gap: 3rem;
  justify-content: center;
  flex-direction: column;
} 

.hobbie__card{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  background-color: var(--bg-secundary);
  padding: 10px;
  margin: 2px;
  border-radius: 6px;
}

.card-text{
  font-size: var(--size-text);
  font-family: var(--font-text);
  font-weight: 400;
}

/* EDUCATION */

section#education{
  padding: 2rem 1rem 0;
  color: var(--color-primary) ;
  font-family: var(--font-title);
}

.education__title{
  font-size: var(--size-subtitles);
  text-align: center;
  padding: 0 0 2rem;
}


.education__container {
  display: flex;
  flex-direction: column;
  gap:   10px;
}

.education__img {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  background-color: var(--bg-secundary);
  border-radius: 6px;
  padding: 15px;
}

.edication__card-inst {
  width: 10%;
  border-radius: 12%;
  box-shadow: 4px 4px 14px #ffcc0096;
}

img.education__card-cert {
  width: 20%; 
  box-shadow: 4px 4px 14px #ffcc0096;
  transition: 2s;
}

img.education__card-cert:hover {
  width: 80%;
}

.education__card-text {
  padding-bottom: .5rem;
  text-align: center;
}

figcaption{
  padding-bottom: 1rem;
}

/* PROJECTS */

section#projects{
  padding: 2rem 1rem;
  color: var(--color-primary);
  background-color: var(--bg-terciary);
  font-family: var(--font-title);
}

.projects__title{
  font-size: var(--size-subtitles);
  text-align: center;
  padding: 0 0 2rem;
}

.project__title {
  font-size: var(--size-title);
  padding: 1rem 0 0.5rem;
}

.project__description {
  font-size: var(--size-text);
}

.tech__stack{
  display: flex;
  gap: 10px;
  padding: 0.75rem 0;
}

.stack__img{
  width: 5%;
}

.btns{
  display: flex;
  gap: 1rem;
}

.repos{
  font-size: var(--size-text);
  color: var(--color-primary);
  border: var(--color-primary) solid 2px;
  padding: 0.75rem 1rem;
}

.demo{
  color: var(--bg-color);
  font-size: var(--size-text);
  background-color: var(--color-primary);
  border: var(--color-primary) solid;
  padding: 0.75rem 1rem;
}
/* breakpoint mobil-tablet */

@media (360px <= width <= 680px){
  *{
    background-color: red;
  }

      button.header {
        font-family: var(--font-text);
        color: var(-- color-primary);
        display: flex;
        gap: 8px;
        align-items: center;
        margin: 1rem;
        background-color: var(--bg-color);
        border: none;
        width: 100%;
        justify-content: space-between;
      }

      .header__logo {
        display: inline;
      }

      .fa-bars{
        display: none;  
      }

      .header__nav-link {
        font-weight: 500;
          color: var(--color-primary);
      }

      .education__img{
        background-color: var(--bg-secundary);
        border-radius: 6px;
        padding: 15px;
      
      }
      
    }
    
/* breakpoint tablet-desktop */

@media (680px <= width <= 1440px) {

  /* *{background-color: #ffcc00;} */
  header {
    display: flex;
    padding: 2rem 2rem;
    justify-content: space-between;
  }
  
  .menu{
    display: flex;
  }
  
  nav.header__nav {
    display: flex;
    justify-content: space-between;
  }

  li.header__nav-item {
  list-style: none; 
  }

  .header__title {
    margin-right: 350px;
}

.menu{
  gap: 10px;
}

  .hero{
    padding: 1rem 2rem 2rem 2rem;
  }

  .about{
    padding: 2rem 2rem; 
  }


  section#skill {
    padding: 2rem 2rem;
  }

  section#hobbies{
    padding: 2rem 2rem;
  }

  .link_skill, .img_skill{
    width: 30%;    
  }

  .hobbies {
    display: flex;
    gap: 3rem;
    justify-content: center;
    /* flex-wrap: wrap; */
    flex-direction: row ;
    align-content: center;
  }

  .hobbie__card{
    width: 30%;
  } 

  section#education{
    padding: 2rem 2rem;
  }

  .education__img {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    justify-content: space-around;
    background-color: var(--bg-secundary);
    border-radius: 6px;
    padding: 15px;
  }     
}




/* @media (min-width: 1090px){
  .header{
    padding: 2rem 9.5rem;
  }

  .dropdown{
    display: flex;
  }

  .hero{
    padding: 2rem 9.5rem;
  }

  .about{
    padding: 2rem 9.5rem;
  }

  section#skill {
    padding: 2rem 9.5rem;
  }

  section#hobbies{
    padding: 2rem 9.5rem;
    justify-content: space-between;
  }

  .hobbies {
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
  }
  .hobbie__card {
    width: 30%;
  }

  .hobbie__img{
    width: 30%;
  }

  section#education{
    padding: 2rem 9.5rem;
  }

  .education__img {
    flex-direction: row;
    justify-content: space-between;
  }     

} */
